.btns_cont_videoPage{
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 5;
}
.btn_VideoPage{
  display: flex;
  margin: auto 0;
}
.like_videoPage{
  margin: 0.5rem;
  display: flex;
  cursor: pointer;
}
